.speed-display {
    font-size: 2.5rem;
    border-width: 5px;
    border-style: solid;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  .car-select-container {
    display: flex;
    align-items: center;
  }
  